body{
    color: none;
    background-color:lightgrey;
}
footer{
    position: relative;
    bottom: 0%;
    width: 100%;
    background-color:aqua;
    color: darkorchid;
}
image{
    width: 15%;
}

audio{
    width: 20%;
}
video{
    width: 20%;
}
.dog {
    width: 50%;
    float: left;
   display: flex;
    color:none;
}
iframe{
    width= 50%;
}