body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
}

header {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: lightgray;
}
header * {
    display: inline;
    height: 100px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

.section-inner {
    height: 300px;
    border: solid 1px;
    border-color: blueviolet;
    text-align: center;
    justify-content: center;
    align-items: center;
}
img{
    width: 200px;
   border-radius: 50%;
}
footer{
    text-align: center;
    padding: 50px;
}

#home h1 {
    font-size: 3em;
}

.section-inner h2 {
    font-size: 2.5em;
}
header a {
    text-decoration: none;
    color: black;
}
#home {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/field.jpg');
}

#about {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/beach.jpg');
}

#contact {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/canyon.jpg');
}